@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.product-display {
    color: var(--grey_dark);
    margin: 1em;

    h1 {
        color: var(--dominant-dark);
        padding: 1.1em 1.1em 0.5em 1.1em;
        @include selection-whitedark;
    }

    &__content {
        display: flex;
        gap: 0px;
    }

    &__image-gallery {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: left;
        margin: 0 2em 2em 2.5em;

        img {
            width: 100%;
            max-width: 400px;
            border-radius: 10px;
            @include selection-whitedark;
        }
    }

    &__details {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .description {
            color: var(--grey_dark);
            margin-bottom: 10px;
            @include selection-whitedark;
        }

        p {
            @include selection-whitedark;
            span {
                text-decoration: line-through;
                @include selection-whitedark;
            }
        }

        .product-display__colors {
            margin: 10px 0;

            h3 {
                color: var(--color-grey);
                margin-bottom: 0.5em;
                @include selection-whitedark;
            }

            .color-options {
                display: flex;
                gap: 10px;
            }

        }

        .color-circle {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            transition: border 0.3s;
        }     

        .product-display__sizes {
            margin: 10px 0;

            .size-options {
                display: flex;
                gap: 10px;
                list-style: none;
                padding: 0;

                li {

                    &.selected {
                        background-color: var(--dominant-dark);
                        color: var(--dominant-light);
                        border-color: var(--dominant-dark);
                    }
                }
            }

            h3 {
                color: var(--grey_dark);
                margin-bottom: 0.5em;
                @include selection-whitedark;
            }

            ul {
                display: flex;
                gap: 0.5em;
                list-style: none;
                padding: 0;
                flex-wrap: wrap;

                li {
                    font-size: 1rem;
                    padding: 5px 10px;
                    border: 2px solid var(--dominant-dark);
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    @include selection-whitedark;

                    &:hover {
                        background-color: var(--dominant-dark);
                        color: var(--dominant-light);
                    }
                }
            }
        }

        button {
            background-color: var(--dominant-light);
            color: var(--dominant-dark);
            border: 1px solid var(--grey_dark);
            padding: 0.4em 1em;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 15px;
            transition: background-color 0.3s ease;
            align-self: flex-start;

            &:hover {
                background-color: var(--table_border);
            }
        }

        span {
            padding: 1em;
            color: var(--grey_dark);
            @include selection-whitedark;
        }
    }
}

.error-product, .loading-product {
    color: var(--dominant-dark);
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}

@media only screen and (max-width: 1349px) {
    .product-display {  
        &__content {
            flex-direction: column;
            align-items: left;
        }

        &__image-gallery {
            margin: 0 2em 0 2.5em;
    
            img {
                width: 100%;
                max-width: 400px;
            }
    
            .additional-images {
                gap: 20px;
                margin: 0 1em 0 1em;
    
                img {
                    width: 100%;
                    max-width: 200px;
                }
            }
        }

        &__details {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 2.5em;
        }
    }
}

@media only screen and (max-width: #{map-get($breakpoints, 'phone-wide')}) {
    .product-display { 
        
        h1 {
            padding: 1.1em 0 0.5em 0;
        }

        &__content {
            flex-direction: column;
            align-items: left;
        }

        &__image-gallery {
            margin: 0;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            img {
                width: 100%;
                max-width: 350px;
            }
    
            .additional-images {
                gap: 20px;
                display: flex;
                margin: 1em 0 0 0;
    
                img {
                    width: 100%;
                    max-width: 350px;

                    &:hover {
                        transform: scale(1);
                    }
                }
            }
        }

        &__details {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0;

            .description {
                margin-top: 1em;
            }
        }
    }
}