@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.item {
    width: 350px;

    p {
        margin: 6px 0px;
        color: var(--dominant-dark);
    }

    .item-prices {
        display: flex;
        gap: 20px;

        .item-price-new, .item-price-old {
            color: var(--dominant-dark);
            font-size: 1em;
            font-weight: 600;
        }

        .item-price-old {
            font-weight: 500;
            text-decoration: line-through;
        }
    }

    img:hover {
        transform: scale(1.05);
        @include transition;
    }
}