@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.admin-sidebar {
    position: static;
    width: 100%;
    height: 100%;
    background-color: $bluegray_sidebar;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    box-shadow: none;
    box-sizing: border-box;
    transition: top 0.3s ease;
    z-index: 0;
    justify-content: space-around;

    button {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: transparent;
        border: none;
        color: $white;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.75rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;

        span {
            @include selection-sidebar;
        }

        &:hover {
            background-color: var(--color-red-light);
            transform: translateY(-2px);
        }

        &:active {
            transform: translateY(0);
        }

        .icon {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: #{map-get($breakpoints, 'phone-2')}) {
    .admin-sidebar {
        position: static;
        width: 100%;
        top: 0;
        box-shadow: none;
        flex-direction: column; /* Zmieniamy na układ pionowy */
        align-items: center; /* Wyrównujemy przyciski w poziomie */
        justify-content: flex-start; /* Wyrównanie do góry */
        padding: 1rem 0; /* Zmniejszamy padding */

        button {
            width: 100%; /* Przyciski zajmują całą szerokość */
            padding: 0.5rem 0.75rem; /* Zmniejszamy padding przycisków */
            font-size: 0.9rem; /* Zmniejszamy czcionkę */
            justify-content: flex-start; /* Wyrównanie tekstu do lewej */
            gap: 8px;

            .icon {
                font-size: 1.2rem;
            }
        }
    }
}