@import '../../scss/variables';

.login {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background-color: $grey_dark;

    h1 {
        color: $white;
        text-align: center;
        padding-bottom: 1em;
    }

    p {
        color: $white;
        text-align: center;
        padding-top: 0.6em;

        &.p-min {
            padding: 0em 0em 0.5em 0em;
            font-size: 0.8em;
            text-align: left;
        }
        
        a {
            text-decoration: none;
            list-style-type: none;
            border: none;
            color: $blue_light;

            &:hover {
                color: $blue_dark;
            }
        }
    }
}