@use './variables' as *;

@mixin transition {
  transition: all .2s;
}

@mixin selection-light {
  &::selection {
    color: $red_light;
    background-color: $white;
  }
}

@mixin selection-dark {
  &::selection {
    color: $white;
    background-color: $red_light;
  }
}

@mixin selection-blue {
  &::selection {
    color: $blue_brighter;
    background-color: var(--dominant-dark);
  }
}

@mixin selection-whitedark {
  &::selection {
    color: var(--dominant-light);
    background-color: var(--dominant-dark);
  }
}

@mixin selection-cookie {
  &::selection {
    color: $white;
    background-color: $black;
  }
}

@mixin selection-sidebar {
  &::selection {
    color: $bluegray_sidebar;
    background-color: $white;
  }
}

@mixin flex-center($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin keyframes-fade-up {
  @keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
  }
}