@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

nav.nav-category {
    background-color: var(--color-red);
    width: 100%;
    padding: 0.5rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;

    a {
        color: $white;
        text-decoration: none;
        list-style-type: none;
        border: none;
        @include selection-light;
    }
}

.mobile-nav-category {
    display: none;
}

@media only screen and (max-width: #{map-get($breakpoints, 'tablet')}) {
    .mobile-nav-category {
        display: flex;
        flex-direction: column;
        align-items: right;
        z-index: 1;
        color: var(--dominant-dark);
    }

    nav.nav-category {
        display: none;
    }
}