:root {
  --white: #ffffff;
  --black: #000000;
  --grey_light: #8c8c8c;
  --grey_dark: #232933;
  --green_light: #228B22;
  --red_light: hsl(0, 61%, 34%);
  --grey_dark: #232933;
  --blue_light: #225E8B;
  --blue_dark: #184261;
}

[data-theme=light],
:root:not([data-theme=dark]) {
  --dominant-light: hsl(0, 0%, 100%);
  --dominant-dark: hsl(0, 0%, 5%);
  --color-ad: hsl(206, 100%, 32%);
  --color-red: hsl(0, 100%, 33%);
  --color-green: hsl(120, 61%, 34%);
  --grey_light: hsl(0, 0%, 55%);
  --grey_dark: hsl(218, 19%, 17%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --dominant-light: hsl(0, 0%, 5%);
    --dominant-dark: hsl(0, 0%, 100%);
    --color-ad: hsl(205, 100%, 32%);
    --color-red: hsl(0, 100%, 34%);
    --color-green: hsl(144, 96%, 10%);
    --grey_light: hsl(0, 0%, 100%);
    --grey_dark: hsl(0, 0%, 100%);
    --color-bg-selection: hsl(0, 0%, 15%);
    --color-selection: hsl(0, 0%, 98%);
    --color-font-grey: hsl(0, 0%, 21%);
    --darkgrey: hsl(0, 0%, 13%);
    --lightgreen: hsl(146, 97%, 23%);
    --darkgreen: hsl(144, 96%, 10%);
  }
}
[data-theme=dark] {
  --dominant-light: hsl(0, 0%, 5%);
  --dominant-dark: hsl(0, 0%, 100%);
  --color-ad: hsl(205, 100%, 22%);
  --color-red: hsl(0, 98%, 21%);
  --color-green: hsl(144, 96%, 10%);
  --grey_light: hsl(0, 0%, 100%);
  --grey_dark: hsl(0, 0%, 100%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

.categoryProduct {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.categoryProduct .error-products {
  text-align: center;
  color: var(--grey_dark);
}
.categoryProduct .error-products::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.categoryProduct .error-products::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.categoryProduct h1 {
  color: var(--dominant-dark);
  padding: 1.1em;
  padding-bottom: 0;
}
.categoryProduct h1::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.categoryProduct h1::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.categoryProduct .numberOfPages {
  padding: 0 2em 2em 2em;
}
.categoryProduct .numberOfPages button {
  background-color: var(--color-green);
  color: #ffffff;
  border: none;
  padding: 0.4em 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}
.categoryProduct .numberOfPages button:hover {
  background-color: var(--dominant-dark);
  color: var(--dominant-light);
}
.categoryProduct .numberOfPages span {
  padding: 1em;
  color: var(--grey_dark);
}
.categoryProduct .numberOfPages span::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.categoryProduct .numberOfPages span::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.categoryProduct .category-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 1.1em;
  margin: 0 2em;
}
.categoryProduct .category-item .item img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.categoryProduct .category-item .item img::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.categoryProduct .category-item .item img::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.categoryProduct .category-item .item p {
  margin: 6px 0;
  color: var(--grey_dark);
}
.categoryProduct .category-item .item p::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.categoryProduct .category-item .item p::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.categoryProduct .category-item .item-prices {
  display: flex;
  gap: 20px;
}
.categoryProduct .category-item .item-prices-new {
  color: var(--grey_dark);
  font-size: 1em;
  font-weight: 400;
}
.categoryProduct .category-item .item-prices-new::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.categoryProduct .category-item .item-prices-new::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.categoryProduct .category-item .item-prices-old {
  color: var(--red_light);
  font-size: 1em;
  font-weight: 500;
  text-decoration: line-through;
}
.categoryProduct .category-item .item-prices-old::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.categoryProduct .category-item .item-prices-old::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}

@media only screen and (max-width: 480px) {
  .categoryProduct {
    margin: 1em;
  }
  .categoryProduct h1 {
    padding: 0.5em 0;
  }
  .categoryProduct .error-products {
    text-align: left;
  }
  .categoryProduct .numberOfPages {
    padding: 0 1em 1em 0;
  }
  .categoryProduct .numberOfPages button {
    padding: 0.3em 0.5em;
    margin-top: 15px;
  }
  .categoryProduct .numberOfPages span {
    padding: 0.5em;
  }
  .categoryProduct .category-item {
    gap: 1.1em;
    margin: 0em;
  }
  .categoryProduct .category-item .item img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .categoryProduct .category-item .item img::-moz-selection {
    color: var(--dominant-light);
    background-color: var(--dominant-dark);
  }
  .categoryProduct .category-item .item img::selection {
    color: var(--dominant-light);
    background-color: var(--dominant-dark);
  }
}
@media only screen and (max-width: 480px) {
  .categoryProduct .numberOfPages {
    padding: 0 0 1em 0;
  }
  .categoryProduct .numberOfPages button {
    padding: 0.2em 0.3em;
    margin-top: 15px;
  }
}/*# sourceMappingURL=CategoryProduct.css.map */