:root {
  --white: #ffffff;
  --black: #000000;
  --grey_light: #8c8c8c;
  --grey_dark: #232933;
  --green_light: #228B22;
  --red_light: hsl(0, 61%, 34%);
  --grey_dark: #232933;
  --blue_light: #225E8B;
  --blue_dark: #184261;
  --table_td: #f8f8f8;
  --table_border: #ddd;
  --table_th-color: #555;
  --table_shadow: rgba(0, 0, 0, 0.1);
  --table_s: rgba(0, 0, 0, 0.1);
}

[data-theme=light],
:root:not([data-theme=dark]) {
  --dominant-light: hsl(0, 0%, 100%);
  --dominant-dark: hsl(0, 0%, 5%);
  --table_td: hsl(0, 0%, 94%);
  --table_border: hsl(0, 0%, 87%);
  --table_th-color: hsl(0, 0%, 19%);
  --table_shadow: rgba(0, 0, 0, 0.1);
  --table_s: rgba(0, 0, 0, 0.1);
  --color-ad: hsl(206, 100%, 32%);
  --color-red: hsl(0, 100%, 33%);
  --color-green: hsl(120, 61%, 34%);
  --grey_light: hsl(0, 0%, 55%);
  --grey_dark: hsl(218, 19%, 17%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --dominant-light: hsl(0, 0%, 5%);
    --dominant-dark: hsl(0, 0%, 100%);
    --table_td: hsl(0, 0%, 12%);
    --table_border: hsl(0, 0%, 26%);
    --table_th-color: rgb(160, 157, 157);
    --table_shadow: rgba(136, 136, 136, 0.1);
    --table_s: rgba(136, 136, 136, 0.1);
    --color-ad: hsl(205, 100%, 22%);
    --color-red: hsl(0, 98%, 21%);
    --color-green: hsl(144, 96%, 10%);
    --grey_light: hsl(0, 0%, 100%);
    --grey_dark: hsl(0, 0%, 100%);
    --color-bg-selection: hsl(0, 0%, 15%);
    --color-selection: hsl(0, 0%, 98%);
    --color-font-grey: hsl(0, 0%, 21%);
    --darkgrey: hsl(0, 0%, 13%);
    --lightgreen: hsl(146, 97%, 23%);
    --darkgreen: hsl(144, 96%, 10%);
  }
}
[data-theme=dark] {
  --dominant-light: hsl(0, 0%, 5%);
  --dominant-dark: hsl(0, 0%, 100%);
  --table_td: hsl(0, 0%, 12%);
  --table_border: hsl(0, 0%, 26%);
  --table_th-color: rgb(160, 157, 157);
  --table_shadow: rgba(136, 136, 136, 0.1);
  --table_s: rgba(231, 26, 26, 0.1);
  --color-ad: hsl(205, 100%, 22%);
  --color-red: hsl(0, 98%, 21%);
  --color-green: hsl(144, 96%, 10%);
  --grey_light: hsl(0, 0%, 100%);
  --grey_dark: hsl(0, 0%, 100%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

.create-product {
  width: 100%;
  max-width: 1500px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--dominant-light);
  border-radius: 10px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}
.create-product h1 {
  text-align: left;
  color: var(--dominant-dark);
  margin-bottom: 1rem;
}
.create-product h1::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.create-product h1::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.create-product .expanded-button {
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.create-product .expanded-button:hover {
  background-color: #0056b3;
}
.create-product .form-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
  padding: 0;
}
.create-product .form-container.expand {
  max-height: 1000px;
  padding: 1rem 0;
}
.create-product .form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.create-product .form-container form label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #555;
}
.create-product .form-container form label input,
.create-product .form-container form label textarea,
.create-product .form-container form label select {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}
.create-product .form-container form label input:focus,
.create-product .form-container form label textarea:focus,
.create-product .form-container form label select:focus {
  border-color: #007bff;
  outline: none;
}
.create-product .form-container form label input[type=checkbox] {
  margin-top: 0.3rem;
  width: auto;
}
.create-product .form-container form label input[type=file] {
  padding: 0.2rem; /* Dopasowanie stylu */
}
.create-product .form-container form textarea {
  resize: vertical;
  min-height: 80px;
}
.create-product .form-container form fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
}
.create-product .form-container form fieldset legend {
  font-weight: bold;
  color: #555;
}
.create-product .form-container form fieldset label {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
}
.create-product .form-container form fieldset label input {
  margin-right: 0.5rem;
}
.create-product .form-container form button {
  align-self: center;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.create-product .form-container form button:hover {
  background-color: #0056b3;
}/*# sourceMappingURL=CreateProduct.css.map */