:root {
  --white: #ffffff;
  --black: #000000;
  --grey_light: #8c8c8c;
  --grey_dark: #232933;
  --green_light: #228B22;
  --red_light: hsl(0, 61%, 34%);
  --grey_dark: #232933;
  --blue_light: #225E8B;
  --blue_dark: #184261;
  --table_td: #f8f8f8;
  --table_border: #ddd;
  --table_th-color: #555;
  --table_shadow: rgba(0, 0, 0, 0.1);
  --table_s: rgba(0, 0, 0, 0.1);
}

[data-theme=light],
:root:not([data-theme=dark]) {
  --dominant-light: hsl(0, 0%, 100%);
  --dominant-dark: hsl(0, 0%, 5%);
  --table_td: hsl(0, 0%, 94%);
  --table_border: hsl(0, 0%, 87%);
  --table_th-color: hsl(0, 0%, 19%);
  --table_shadow: rgba(0, 0, 0, 0.1);
  --table_s: rgba(0, 0, 0, 0.3);
  --color-ad: hsl(206, 100%, 32%);
  --color-red: hsl(0, 100%, 33%);
  --color-green: hsl(120, 61%, 34%);
  --grey_light: hsl(0, 0%, 55%);
  --grey_dark: hsl(218, 19%, 17%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --dominant-light: hsl(0, 0%, 5%);
    --dominant-dark: hsl(0, 0%, 100%);
    --table_td: hsl(0, 0%, 12%);
    --table_border: hsl(0, 0%, 26%);
    --table_th-color: rgb(160, 157, 157);
    --table_shadow: rgba(136, 136, 136, 0.1);
    --table_s: rgba(0, 0, 0, 0.3);
    --color-ad: hsl(205, 100%, 22%);
    --color-red: hsl(0, 98%, 21%);
    --color-green: hsl(144, 96%, 10%);
    --grey_light: hsl(0, 0%, 100%);
    --grey_dark: hsl(0, 0%, 100%);
    --color-bg-selection: hsl(0, 0%, 15%);
    --color-selection: hsl(0, 0%, 98%);
    --color-font-grey: hsl(0, 0%, 21%);
    --darkgrey: hsl(0, 0%, 13%);
    --lightgreen: hsl(146, 97%, 23%);
    --darkgreen: hsl(144, 96%, 10%);
  }
}
[data-theme=dark] {
  --dominant-light: hsl(0, 0%, 5%);
  --dominant-dark: hsl(0, 0%, 100%);
  --table_td: hsl(0, 0%, 12%);
  --table_border: hsl(0, 0%, 26%);
  --table_th-color: rgb(160, 157, 157);
  --table_shadow: rgba(136, 136, 136, 0.1);
  --table_s: rgba(0, 0, 0, 0.6);
  --color-ad: hsl(205, 100%, 22%);
  --color-red: hsl(0, 98%, 21%);
  --color-green: hsl(144, 96%, 10%);
  --grey_light: hsl(0, 0%, 100%);
  --grey_dark: hsl(0, 0%, 100%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

.product-display {
  color: var(--grey_dark);
  margin: 1em;
}
.product-display h1 {
  color: var(--dominant-dark);
  padding: 1.1em 1.1em 0.5em 1.1em;
}
.product-display h1::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.product-display h1::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.product-display__content {
  display: flex;
  gap: 0px;
}
.product-display__image-gallery {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: left;
  margin: 0 2em 2em 2.5em;
}
.product-display__image-gallery img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  cursor: pointer;
}
.product-display__image-gallery img::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.product-display__image-gallery img::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.product-display__image-gallery .additional-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 1em 0 0.5em;
}
.product-display__image-gallery .additional-images img {
  width: 100%;
  max-width: 100px;
  height: auto;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.product-display__image-gallery .additional-images img:hover {
  transform: scale(1.1);
}
.product-display__details {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-display__details .description {
  color: var(--grey_dark);
  margin-bottom: 10px;
}
.product-display__details .description::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.product-display__details .description::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.product-display__details p::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.product-display__details p::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.product-display__details p span {
  text-decoration: line-through;
}
.product-display__details p span::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.product-display__details p span::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.product-display__details .product-display__sizes h3 {
  color: var(--grey_dark);
  margin-bottom: 0.5em;
}
.product-display__details .product-display__sizes h3::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.product-display__details .product-display__sizes h3::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.product-display__details .product-display__sizes ul {
  display: flex;
  gap: 0.5em;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}
.product-display__details .product-display__sizes ul li {
  font-size: 1rem;
  padding: 5px 10px;
  border: 1px solid var(--dominant-dark);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.product-display__details .product-display__sizes ul li::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.product-display__details .product-display__sizes ul li::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.product-display__details .product-display__sizes ul li:hover {
  background-color: var(--dominant-dark);
  color: var(--dominant-light);
}
.product-display__details button {
  background-color: var(--color-green);
  color: #ffffff;
  border: none;
  padding: 0.6em 1em;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}
.product-display__details button:hover {
  background-color: var(--dominant-dark);
  color: var(--dominant-light);
}

.error-product, .loading-product {
  color: var(--dominant-dark);
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 1349px) {
  .product-display__content {
    flex-direction: column;
    align-items: left;
  }
  .product-display__image-gallery {
    margin: 0 2em 0 2.5em;
  }
  .product-display__image-gallery img {
    width: 100%;
    max-width: 400px;
  }
  .product-display__image-gallery .additional-images {
    gap: 20px;
    margin: 0 1em 0 1em;
  }
  .product-display__image-gallery .additional-images img {
    width: 100%;
    max-width: 200px;
  }
  .product-display__details {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2.5em;
  }
}
@media only screen and (max-width: 480px) {
  .product-display__content {
    flex-direction: column;
    align-items: left;
  }
  .product-display__image-gallery {
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-display__image-gallery img {
    width: 100%;
    max-width: 350px;
  }
  .product-display__image-gallery .additional-images {
    gap: 20px;
    display: flex;
    margin: 1em 0 0 0;
  }
  .product-display__image-gallery .additional-images img {
    width: 100%;
    max-width: 350px;
  }
  .product-display__image-gallery .additional-images img:hover {
    transform: scale(1);
  }
  .product-display__details {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }
  .product-display__details .description {
    margin-top: 1em;
  }
}/*# sourceMappingURL=DisplayProduct.css.map */