:root {
  --white: #ffffff;
  --black: #000000;
  --grey_light: #8c8c8c;
  --grey_dark: #232933;
  --green_light: #228B22;
  --red_light: hsl(0, 61%, 34%);
  --grey_dark: #232933;
  --blue_light: #225E8B;
  --blue_dark: #184261;
  --table_td: #f8f8f8;
  --table_border: #ddd;
  --table_th-color: #555;
  --table_shadow: rgba(0, 0, 0, 0.1);
  --table_s: rgba(0, 0, 0, 0.1);
}

[data-theme=light],
:root:not([data-theme=dark]) {
  --dominant-light: hsl(0, 0%, 100%);
  --dominant-dark: hsl(0, 0%, 5%);
  --table_td: hsl(0, 0%, 94%);
  --table_border: hsl(0, 0%, 87%);
  --table_th-color: hsl(0, 0%, 19%);
  --table_shadow: rgba(0, 0, 0, 0.1);
  --table_s: rgba(0, 0, 0, 0.3);
  --color-ad: hsl(206, 100%, 32%);
  --color-red: hsl(0, 100%, 33%);
  --color-green: hsl(120, 61%, 34%);
  --grey_light: hsl(0, 0%, 55%);
  --grey_dark: hsl(218, 19%, 17%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --dominant-light: hsl(0, 0%, 5%);
    --dominant-dark: hsl(0, 0%, 100%);
    --table_td: hsl(0, 0%, 12%);
    --table_border: hsl(0, 0%, 26%);
    --table_th-color: rgb(160, 157, 157);
    --table_shadow: rgba(136, 136, 136, 0.1);
    --table_s: rgba(0, 0, 0, 0.3);
    --color-ad: hsl(205, 100%, 22%);
    --color-red: hsl(0, 98%, 21%);
    --color-green: hsl(144, 96%, 10%);
    --grey_light: hsl(0, 0%, 100%);
    --grey_dark: hsl(0, 0%, 100%);
    --color-bg-selection: hsl(0, 0%, 15%);
    --color-selection: hsl(0, 0%, 98%);
    --color-font-grey: hsl(0, 0%, 21%);
    --darkgrey: hsl(0, 0%, 13%);
    --lightgreen: hsl(146, 97%, 23%);
    --darkgreen: hsl(144, 96%, 10%);
  }
}
[data-theme=dark] {
  --dominant-light: hsl(0, 0%, 5%);
  --dominant-dark: hsl(0, 0%, 100%);
  --table_td: hsl(0, 0%, 12%);
  --table_border: hsl(0, 0%, 26%);
  --table_th-color: rgb(160, 157, 157);
  --table_shadow: rgba(136, 136, 136, 0.1);
  --table_s: rgba(0, 0, 0, 0.6);
  --color-ad: hsl(205, 100%, 22%);
  --color-red: hsl(0, 98%, 21%);
  --color-green: hsl(144, 96%, 10%);
  --grey_light: hsl(0, 0%, 100%);
  --grey_dark: hsl(0, 0%, 100%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

.admin-search_products,
.search-order,
.search-user {
  display: block;
}
.admin-search_products .filter,
.search-order .filter,
.search-user .filter {
  position: relative;
  padding: 1em 0;
}
.admin-search_products .filter input,
.search-order .filter input,
.search-user .filter input {
  font-size: 18px;
  margin-right: 0.3em;
  padding: 8px 10px;
  border: 1px solid var(--table_border);
  border-radius: 8px;
  transition: background-color 0.3s ease;
  background-color: var(--dominant-light);
}
.admin-search_products .filter input:hover,
.search-order .filter input:hover,
.search-user .filter input:hover {
  background-color: var(--table_td);
}
.admin-search_products .filter span,
.search-order .filter span,
.search-user .filter span {
  margin: 0 0.3em;
}
.admin-search_products .filter .product-filter,
.search-order .filter .product-filter,
.search-user .filter .product-filter {
  margin: -2em 0;
  position: absolute;
  right: 0;
}
.admin-search_products .filter .product-filter .filter-toggle,
.search-order .filter .product-filter .filter-toggle,
.search-user .filter .product-filter .filter-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  background-color: var(--dominant-light);
  border: 1px solid var(--table_border);
  color: var(--dominant-dark);
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.admin-search_products .filter .product-filter .filter-toggle:hover,
.search-order .filter .product-filter .filter-toggle:hover,
.search-user .filter .product-filter .filter-toggle:hover {
  background-color: var(--table_td);
}
.admin-search_products .filter .product-filter .filter-toggle svg,
.search-order .filter .product-filter .filter-toggle svg,
.search-user .filter .product-filter .filter-toggle svg {
  font-size: 18px;
}
.admin-search_products .filter .product-filter .filter-panel,
.search-order .filter .product-filter .filter-panel,
.search-user .filter .product-filter .filter-panel {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: var(--dominant-light);
  border: 1px solid var(--table_border);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 300px;
  padding: 0.8em;
  max-height: 500px;
  overflow-y: auto;
}
.admin-search_products .filter .product-filter .filter-panel .filter-group label,
.search-order .filter .product-filter .filter-panel .filter-group label,
.search-user .filter .product-filter .filter-panel .filter-group label {
  color: var(--dominant-dark);
  margin-bottom: 0.4em;
}
.admin-search_products .filter .product-filter .filter-panel .filter-group select,
.search-order .filter .product-filter .filter-panel .filter-group select,
.search-user .filter .product-filter .filter-panel .filter-group select {
  width: 100%;
  padding: 0.3em 0.3em;
  background-color: var(--dominant-light);
  color: var(--dominant-dark);
  border: 1px solid var(--table_border);
  border-radius: 5px;
  font-size: 0.9em;
}/*# sourceMappingURL=Filter.css.map */