:root {
  --white: #ffffff;
  --black: #000000;
  --grey_light: #D9D9D9;
  --grey_dark: #B4B4B4;
  --green_light: #228B22;
  --red_light: hsl(0, 61%, 34%);
  --grey_dark: #B4B4B4;
  --blue_light: #225E8B;
  --blue_dark: #184261;
}

[data-theme=light],
:root:not([data-theme=dark]) {
  --dominant-light: hsl(0, 0%, 100%);
  --dominant-dark: hsl(0, 0%, 5%);
  --color-ad: hsl(206, 100%, 32%);
  --color-red: hsl(0, 100%, 33%);
  --color-green: hsl(120, 61%, 34%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --dominant-light: hsl(0, 0%, 5%);
    --dominant-dark: hsl(0, 0%, 100%);
    --color-ad: hsl(205, 100%, 32%);
    --color-red: hsl(0, 100%, 34%);
    --color-green: hsl(144, 96%, 10%);
    --color-bg-selection: hsl(0, 0%, 15%);
    --color-selection: hsl(0, 0%, 98%);
    --color-font-grey: hsl(0, 0%, 21%);
    --darkgrey: hsl(0, 0%, 13%);
    --lightgreen: hsl(146, 97%, 23%);
    --darkgreen: hsl(144, 96%, 10%);
  }
}
[data-theme=dark] {
  --dominant-light: hsl(0, 0%, 5%);
  --dominant-dark: hsl(0, 0%, 100%);
  --color-ad: hsl(205, 100%, 22%);
  --color-red: hsl(0, 98%, 21%);
  --color-green: hsl(144, 96%, 10%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

footer {
  background-color: var(--color-red);
  width: 100%;
  height: auto;
  margin-top: auto;
}
footer .f-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 4rem;
}
footer .f-top .f-contact-form {
  padding-bottom: 2rem;
  color: #ffffff;
}
footer .f-top .f-contact-community {
  color: #ffffff;
}
footer .f-top .f-contact-community a {
  font-size: 1.5rem;
  padding-right: 2rem;
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
  border: none;
}
footer .f-top .f-contact-form h2::-moz-selection, footer .f-top .f-contact-form p::-moz-selection, footer .f-top .f-contact-community h2::-moz-selection, footer .f-top .f-contact-community p::-moz-selection {
  color: hsl(0, 61%, 34%);
  background-color: #ffffff;
}
footer .f-top .f-contact-form h2::selection, footer .f-top .f-contact-form p::selection, footer .f-top .f-contact-community h2::selection, footer .f-top .f-contact-community p::selection {
  color: hsl(0, 61%, 34%);
  background-color: #ffffff;
}
footer .f-top .f-subpages {
  display: flex;
  gap: 3rem;
}
footer .f-top .f-subpages-name h2, footer .f-top .f-subpages-name p, footer .f-top .f-subpages-offer h2, footer .f-top .f-subpages-offer p {
  color: #ffffff;
}
footer .f-top .f-subpages-name h2::-moz-selection, footer .f-top .f-subpages-name p::-moz-selection, footer .f-top .f-subpages-offer h2::-moz-selection, footer .f-top .f-subpages-offer p::-moz-selection {
  color: hsl(0, 61%, 34%);
  background-color: #ffffff;
}
footer .f-top .f-subpages-name h2::selection, footer .f-top .f-subpages-name p::selection, footer .f-top .f-subpages-offer h2::selection, footer .f-top .f-subpages-offer p::selection {
  color: hsl(0, 61%, 34%);
  background-color: #ffffff;
}
footer p.copyright {
  color: #ffffff;
  text-align: center;
}
footer p.copyright::-moz-selection {
  color: hsl(0, 61%, 34%);
  background-color: #ffffff;
}
footer p.copyright::selection {
  color: hsl(0, 61%, 34%);
  background-color: #ffffff;
}

@media only screen and (max-width: 795px) {
  footer .f-top {
    flex-direction: column;
    padding: 2rem 4rem;
    align-items: flex-start;
  }
  footer .f-top .f-contact {
    margin-bottom: 2rem;
  }
  footer p.copyright {
    padding: 0.5rem;
    font-size: 1em;
  }
}
@media only screen and (max-width: 480px) {
  footer {
    position: relative;
  }
  footer .f-top {
    padding: 2rem 1rem;
  }
  footer .f-top .f-contact {
    margin-bottom: 2rem;
  }
  footer .f-top .f-contact-form {
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    border-radius: 70px 70px 70px 5px;
    color: #000000;
  }
}/*# sourceMappingURL=Footer.css.map */