:root {
  --white: #ffffff;
  --black: #000000;
  --grey_light: #8c8c8c;
  --grey_dark: #232933;
  --green_light: #228B22;
  --red_light: hsl(0, 61%, 34%);
  --grey_dark: #232933;
  --blue_light: #225E8B;
  --blue_dark: #184261;
  --table_td: #f8f8f8;
  --table_border: #ddd;
  --table_th-color: #555;
  --table_shadow: rgba(0, 0, 0, 0.1);
  --table_s: rgba(0, 0, 0, 0.1);
}

[data-theme=light],
:root:not([data-theme=dark]) {
  --dominant-light: hsl(0, 0%, 100%);
  --dominant-dark: hsl(0, 0%, 5%);
  --table_td: hsl(0, 0%, 94%);
  --table_border: hsl(0, 0%, 87%);
  --table_th-color: hsl(0, 0%, 19%);
  --table_shadow: rgba(0, 0, 0, 0.1);
  --table_s: rgba(0, 0, 0, 0.3);
  --color-ad: hsl(206, 100%, 32%);
  --color-red: hsl(0, 100%, 33%);
  --color-green: hsl(120, 61%, 34%);
  --grey_light: hsl(0, 0%, 55%);
  --grey_dark: hsl(218, 19%, 17%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --dominant-light: hsl(0, 0%, 5%);
    --dominant-dark: hsl(0, 0%, 100%);
    --table_td: hsl(0, 0%, 12%);
    --table_border: hsl(0, 0%, 26%);
    --table_th-color: rgb(160, 157, 157);
    --table_shadow: rgba(136, 136, 136, 0.1);
    --table_s: rgba(0, 0, 0, 0.3);
    --color-ad: hsl(205, 100%, 22%);
    --color-red: hsl(0, 98%, 21%);
    --color-green: hsl(144, 96%, 10%);
    --grey_light: hsl(0, 0%, 100%);
    --grey_dark: hsl(0, 0%, 100%);
    --color-bg-selection: hsl(0, 0%, 15%);
    --color-selection: hsl(0, 0%, 98%);
    --color-font-grey: hsl(0, 0%, 21%);
    --darkgrey: hsl(0, 0%, 13%);
    --lightgreen: hsl(146, 97%, 23%);
    --darkgreen: hsl(144, 96%, 10%);
  }
}
[data-theme=dark] {
  --dominant-light: hsl(0, 0%, 5%);
  --dominant-dark: hsl(0, 0%, 100%);
  --table_td: hsl(0, 0%, 12%);
  --table_border: hsl(0, 0%, 26%);
  --table_th-color: rgb(160, 157, 157);
  --table_shadow: rgba(136, 136, 136, 0.1);
  --table_s: rgba(0, 0, 0, 0.6);
  --color-ad: hsl(205, 100%, 22%);
  --color-red: hsl(0, 98%, 21%);
  --color-green: hsl(144, 96%, 10%);
  --grey_light: hsl(0, 0%, 100%);
  --grey_dark: hsl(0, 0%, 100%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

.section__welcome {
  display: flex;
  position: relative;
  align-items: center;
  padding: 3em;
  height: 81dvh;
  background: url("../../../public/images/welcome_baner.jpg") no-repeat center center;
  background-size: cover;
  animation: fade-up 0.5s;
}
.section__welcome-content {
  text-align: left;
  width: 40%;
}
.section__welcome-content p {
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  color: #000000;
  border-radius: 4px;
}
.section__welcome-content p::-moz-selection {
  color: #ffffff;
  background-color: #000000;
}
.section__welcome-content p::selection {
  color: #ffffff;
  background-color: #000000;
}
.section__welcome-content h2 {
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  color: #000000;
  border-radius: 4px;
}
.section__welcome-content h2::-moz-selection {
  color: #ffffff;
  background-color: #000000;
}
.section__welcome-content h2::selection {
  color: #ffffff;
  background-color: #000000;
}
.section__welcome-content button {
  background-color: rgba(255, 255, 255, 0.2);
  color: #000000;
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 0.4em 1em;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  align-self: flex-start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
}
.section__welcome-content button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.section__offer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  padding: 3em;
  height: 81dvh;
  background: url("../../../public/images/offer_baner.jpg") no-repeat center center;
  background-size: cover;
  animation: fade-up 0.5s;
}
.section__offer-content {
  text-align: right;
  width: 40%;
}
.section__offer-content p, .section__offer-content h2 {
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  color: #000000;
  border-radius: 4px;
}
.section__offer-content p::-moz-selection, .section__offer-content h2::-moz-selection {
  color: #ffffff;
  background-color: #000000;
}
.section__offer-content p::selection, .section__offer-content h2::selection {
  color: #ffffff;
  background-color: #000000;
}
.section__offer-content h2 {
  margin-top: 1em;
}
.section__offer-content .button {
  background-color: rgba(255, 255, 255, 0.2);
  color: #000000;
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 0.4em 1em;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 2em;
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  align-self: flex-start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
}
.section__offer-content .button::-moz-selection {
  color: #ffffff;
  background-color: #000000;
}
.section__offer-content .button::selection {
  color: #ffffff;
  background-color: #000000;
}
.section__offer-content .button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.section__category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 3em;
}
@media (max-width: 1200px) {
  .section__category {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .section__category {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}
.section__category-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 13px rgba(0, 0, 0, 0.4);
}
.section__category-card:nth-child(1) .category-image {
  background-image: url("../../../public/images/category_jacket.jpg");
}
.section__category-card:nth-child(2) .category-image {
  background-image: url("../../../public/images/category_pants2.jpg");
}
.section__category-card:nth-child(3) .category-image {
  background-image: url("../../../public/images/category_shirt2.jpg");
}
.section__category-card:nth-child(4) .category-image {
  background-image: url("../../../public/images/category_hat.jpg");
}
.section__category-card .category-image {
  height: 400px;
  background-size: cover;
  background-position: center;
}
.section__category-card .category-content {
  padding: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  text-align: center;
  transition: background-color 0.3s ease;
}
.section__category-card .category-content h2 {
  color: #000000;
}
.section__category-card .category-content h2::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.section__category-card .category-content h2::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.section__category-card:hover .category-content {
  background-color: rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width: 1440px) {
  .section__welcome-card .category-image, .section__offer-card .category-image {
    height: 100px;
    background-size: cover;
    background-position: center;
  }
  .section__welcome-content, .section__offer-content {
    text-align: left;
    width: 50%;
  }
  .section__offer-content {
    text-align: right;
  }
  .section__category-card .category-image {
    height: 500px;
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (max-width: 795px) {
  .section__welcome, .section__offer {
    height: 73svh;
    padding: 1em;
  }
  .section__welcome-content, .section__offer-content {
    text-align: left;
    width: 70%;
  }
  .section__welcome-content p, .section__offer-content p {
    font-size: 0.9em;
  }
  .section__welcome-content h2, .section__offer-content h2 {
    font-size: 1.3em;
  }
  .section__offer-content {
    text-align: right;
  }
}
@media only screen and (max-width: 480px) {
  .section__welcome {
    height: 86svh;
    padding: 1em;
  }
  .section__welcome-content {
    text-align: left;
    width: 90%;
  }
  .section__offer {
    justify-content: flex-start;
    height: 86svh;
    padding: 1em;
  }
  .section__offer-content {
    text-align: left;
    width: 90%;
  }
}/*# sourceMappingURL=Home.css.map */