:root {
  --white: #ffffff;
  --black: #000000;
  --grey_light: #8c8c8c;
  --grey_dark: #232933;
  --green_light: #228B22;
  --red_light: hsl(0, 61%, 34%);
  --grey_dark: #232933;
  --blue_light: #225E8B;
  --blue_dark: #184261;
  --table_td: #f8f8f8;
  --table_border: #ddd;
  --table_th-color: #555;
  --table_shadow: rgba(0, 0, 0, 0.1);
  --table_s: rgba(0, 0, 0, 0.1);
}

[data-theme=light],
:root:not([data-theme=dark]) {
  --dominant-light: hsl(0, 0%, 100%);
  --dominant-dark: hsl(0, 0%, 5%);
  --table_td: hsl(0, 0%, 94%);
  --table_border: hsl(0, 0%, 87%);
  --table_th-color: hsl(0, 0%, 19%);
  --table_shadow: rgba(0, 0, 0, 0.1);
  --table_s: rgba(0, 0, 0, 0.3);
  --color-ad: hsl(206, 100%, 32%);
  --color-red: hsl(0, 100%, 33%);
  --color-green: hsl(120, 61%, 34%);
  --grey_light: hsl(0, 0%, 55%);
  --grey_dark: hsl(218, 19%, 17%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --dominant-light: hsl(0, 0%, 5%);
    --dominant-dark: hsl(0, 0%, 100%);
    --table_td: hsl(0, 0%, 12%);
    --table_border: hsl(0, 0%, 26%);
    --table_th-color: rgb(160, 157, 157);
    --table_shadow: rgba(136, 136, 136, 0.1);
    --table_s: rgba(0, 0, 0, 0.3);
    --color-ad: hsl(205, 100%, 22%);
    --color-red: hsl(0, 98%, 21%);
    --color-green: hsl(144, 96%, 10%);
    --grey_light: hsl(0, 0%, 100%);
    --grey_dark: hsl(0, 0%, 100%);
    --color-bg-selection: hsl(0, 0%, 15%);
    --color-selection: hsl(0, 0%, 98%);
    --color-font-grey: hsl(0, 0%, 21%);
    --darkgrey: hsl(0, 0%, 13%);
    --lightgreen: hsl(146, 97%, 23%);
    --darkgreen: hsl(144, 96%, 10%);
  }
}
[data-theme=dark] {
  --dominant-light: hsl(0, 0%, 5%);
  --dominant-dark: hsl(0, 0%, 100%);
  --table_td: hsl(0, 0%, 12%);
  --table_border: hsl(0, 0%, 26%);
  --table_th-color: rgb(160, 157, 157);
  --table_shadow: rgba(136, 136, 136, 0.1);
  --table_s: rgba(0, 0, 0, 0.6);
  --color-ad: hsl(205, 100%, 22%);
  --color-red: hsl(0, 98%, 21%);
  --color-green: hsl(144, 96%, 10%);
  --grey_light: hsl(0, 0%, 100%);
  --grey_dark: hsl(0, 0%, 100%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

.logo::-moz-selection {
  color: hsl(0, 61%, 34%);
  background-color: #ffffff;
}

.logo::selection {
  color: hsl(0, 61%, 34%);
  background-color: #ffffff;
}

header.header-main {
  background-color: var(--color-red);
  width: 100%;
  padding: 0.5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
header.header-main a {
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
  border: none;
}
header.header-main a::-moz-selection {
  color: hsl(0, 61%, 34%);
  background-color: #ffffff;
}
header.header-main a::selection {
  color: hsl(0, 61%, 34%);
  background-color: #ffffff;
}
header.header-main .nav-search {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 500px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
header.header-main .nav-search .input-wrapper {
  background-color: #ffffff;
  width: 100%;
  max-width: 500px;
  height: 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 0 auto;
}
header.header-main .nav-search .input-wrapper #search-icon {
  margin-left: 0.5rem;
}
header.header-main .nav-search .input-wrapper input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1rem;
  width: 100%;
  padding: 0 10px;
}
header.header-main .nav-search .input-wrapper input:focus {
  outline: none;
}
header.header-main .input-response {
  position: absolute;
  top: 80%;
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 2;
}
header.header-main .input-response ul {
  list-style-type: none;
  padding: 0 0.5rem;
  margin: 0;
}
header.header-main .input-response ul li {
  margin: 0.5rem 0;
}
header.header-main .input-response ul li a {
  color: #000000;
  text-decoration: none;
}
header.header-main .input-response ul li a:hover {
  text-decoration: underline;
}
header.header-main .input-response p {
  margin: 0.5rem;
}
header.header-main .nav-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  z-index: 0;
}
header.header-main .nav-icons-cart {
  position: absolute;
  width: 1.4em;
  height: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2.7em;
  margin-left: 1em;
  border-radius: 50%;
  font-size: 0.6em;
  background-color: var(--color-ad);
  color: var(--white);
  z-index: 10;
}
header.header-main .nav-icons .nav-user button {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0.8em;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 0.3em 0.4em;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
}
header.header-main .nav-icons .nav-user button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}
@media (max-width: 795px) {
  header.header-main .nav-icons {
    display: none;
  }
  header.header-main .nav-icons-cart {
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0em;
    margin-left: 1em;
    font-size: 0.6em;
    z-index: 10;
  }
}
header.header-main .hamburger-menu {
  display: none;
  cursor: pointer;
  color: var(--dominant-dark);
}
@media (max-width: 795px) {
  header.header-main .hamburger-menu {
    display: block;
  }
}
header.header-main .mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: auto;
  background-color: var(--dominant-light);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
header.header-main .mobile-menu.open {
  transform: translateX(0);
}
header.header-main .mobile-menu .mobile-menu-icons {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
header.header-main .mobile-menu .mobile-menu-icons a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  padding-right: 1.5em;
  text-align: right;
  transition: color 0.3s ease;
}
header.header-main .mobile-menu .mobile-menu-icons a:hover {
  color: #555;
}
header.header-main .mobile-menu .mobile-menu-icons p {
  color: var(--dominant-dark);
  margin-bottom: 0rem;
  padding: 0.5em;
  font-weight: 600;
}
header.header-main .mobile-menu .mobile-menu-icons .nav-icons-cart {
  position: relative;
  top: -10px;
  right: -60px;
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
}
header.header-main .mobile-menu .mobile-menu-icons .nav-user button {
  background-color: var(--table_td);
  font-size: 0.8em;
  color: var(--dominant-dark);
  border: 2px solid var(--table_border);
  padding: 0.3em 0.4em;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px var(--table_shadow);
}
header.header-main .mobile-menu .mobile-menu-icons .nav-user button:hover {
  background-color: var(--table_s);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}
header.header-main .mobile-menu .close-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  z-index: 110;
}
@media (min-width: 795px) {
  header.header-main .mobile-menu {
    display: none;
  }
}

@media only screen and (max-width: 888px) {
  header.header-main .mobile-menu .mobile-menu-icons a {
    color: var(--dominant-dark);
  }
}
@media only screen and (max-width: 888px) {
  header.header-main .nav-search .input-response, header.header-main .nav-search .input-wrapper {
    width: 100%;
    max-width: 350px;
  }
}
@media only screen and (max-width: 640px) {
  header.header-main {
    padding: 0.5rem 1rem;
  }
  header.header-main .nav-search .input-response, header.header-main .nav-search .input-wrapper {
    width: 100%;
    max-width: 220px;
  }
}
@media only screen and (max-width: 410px) {
  header.header-main .nav-search .input-response, header.header-main .nav-search .input-wrapper {
    width: 100%;
    max-width: 150px;
  }
  header.header-main .mobile-menu a {
    padding: 0.5rem;
  }
}/*# sourceMappingURL=Navbar.css.map */