:root {
  --white: #ffffff;
  --black: #000000;
  --grey_light: #8c8c8c;
  --grey_dark: #232933;
  --green_light: #228B22;
  --red_light: hsl(0, 61%, 34%);
  --grey_dark: #232933;
  --blue_light: #225E8B;
  --blue_dark: #184261;
  --table_td: #f8f8f8;
  --table_border: #ddd;
  --table_th-color: #555;
  --table_shadow: rgba(0, 0, 0, 0.1);
  --table_s: rgba(0, 0, 0, 0.1);
}

[data-theme=light],
:root:not([data-theme=dark]) {
  --dominant-light: hsl(0, 0%, 100%);
  --dominant-dark: hsl(0, 0%, 5%);
  --table_td: hsl(0, 0%, 94%);
  --table_border: hsl(0, 0%, 87%);
  --table_th-color: hsl(0, 0%, 19%);
  --table_shadow: rgba(0, 0, 0, 0.1);
  --table_s: rgba(0, 0, 0, 0.3);
  --color-ad: hsl(206, 100%, 32%);
  --color-red: hsl(0, 100%, 33%);
  --color-green: hsl(120, 61%, 34%);
  --grey_light: hsl(0, 0%, 55%);
  --grey_dark: hsl(218, 19%, 17%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --dominant-light: hsl(0, 0%, 5%);
    --dominant-dark: hsl(0, 0%, 100%);
    --table_td: hsl(0, 0%, 12%);
    --table_border: hsl(0, 0%, 26%);
    --table_th-color: rgb(160, 157, 157);
    --table_shadow: rgba(136, 136, 136, 0.1);
    --table_s: rgba(0, 0, 0, 0.3);
    --color-ad: hsl(205, 100%, 22%);
    --color-red: hsl(0, 98%, 21%);
    --color-green: hsl(144, 96%, 10%);
    --grey_light: hsl(0, 0%, 100%);
    --grey_dark: hsl(0, 0%, 100%);
    --color-bg-selection: hsl(0, 0%, 15%);
    --color-selection: hsl(0, 0%, 98%);
    --color-font-grey: hsl(0, 0%, 21%);
    --darkgrey: hsl(0, 0%, 13%);
    --lightgreen: hsl(146, 97%, 23%);
    --darkgreen: hsl(144, 96%, 10%);
  }
}
[data-theme=dark] {
  --dominant-light: hsl(0, 0%, 5%);
  --dominant-dark: hsl(0, 0%, 100%);
  --table_td: hsl(0, 0%, 12%);
  --table_border: hsl(0, 0%, 26%);
  --table_th-color: rgb(160, 157, 157);
  --table_shadow: rgba(136, 136, 136, 0.1);
  --table_s: rgba(0, 0, 0, 0.6);
  --color-ad: hsl(205, 100%, 22%);
  --color-red: hsl(0, 98%, 21%);
  --color-green: hsl(144, 96%, 10%);
  --grey_light: hsl(0, 0%, 100%);
  --grey_dark: hsl(0, 0%, 100%);
  --color-bg-selection: hsl(0, 0%, 15%);
  --color-selection: hsl(0, 0%, 98%);
  --color-font-grey: hsl(0, 0%, 21%);
  --darkgrey: hsl(0, 0%, 13%);
  --lightgreen: hsl(146, 97%, 23%);
  --darkgreen: hsl(144, 96%, 10%);
}

.order-summary {
  padding: 1rem;
}
.order-summary .order-data {
  display: flex;
  justify-content: space-evenly;
}
.order-summary h1 {
  color: var(--dominant-dark);
  text-align: center;
}
.order-summary h1::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary h1::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary .summary-p {
  color: var(--red_light);
  text-align: center;
}
.order-summary .summary-p::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary .summary-p::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary h2 {
  margin-top: 0.5em;
  color: var(--dominant-dark);
}
.order-summary h2::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary h2::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary .customer-details p {
  font-size: 16px;
  color: var(--dominant-dark);
}
.order-summary .customer-details p::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary .customer-details p::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary .customer-details p span {
  font-weight: 600;
}
.order-summary .customer-details p span::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary .customer-details p span::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary ul {
  list-style-type: none;
  color: var(--dominant-dark);
  font-size: 16px;
}
.order-summary ul li {
  margin: 0.2em 0;
}
.order-summary ul li::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary ul li::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary .payment-details {
  padding: 0.3em;
  border: 1px solid var(--dominant-light);
  border-radius: 8px;
  background-color: var(--background-light);
  text-align: center;
}
.order-summary .payment-details h2 {
  color: var(--dominant-dark);
  margin-bottom: 1rem;
}
.order-summary .payment-details p {
  font-size: 16px;
  color: var(--dominant-dark);
  margin-bottom: 0.5rem;
}
.order-summary .payment-details p::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary .payment-details p::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary .payment-details span {
  font-weight: 600;
}
.order-summary .payment-details span::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary .payment-details span::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary .payment-details .bank-account {
  font-size: 18px;
  font-weight: 300;
  color: var(--red_light);
  margin: 1rem 0;
}
.order-summary .total-amount p {
  color: var(--dominant-dark);
  margin-top: 0.5em;
}
.order-summary .total-amount p::-moz-selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}
.order-summary .total-amount p::selection {
  color: var(--dominant-light);
  background-color: var(--dominant-dark);
}

@media only screen and (max-width: 795px) {
  .order-summary .order-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .order-summary .order-data .customer-details {
    width: 100%;
  }
  .order-summary .order-data .order-items {
    width: 100%;
    text-align: left;
  }
}/*# sourceMappingURL=OrderSummary.css.map */