@use '../../../scss/variables' as *;
@use '../../../scss/mixins' as *;

.cart {
  width: 100%;
  max-width: 1400px;
  padding: 1em 3em;
  margin: 0 auto;

  h1 {
    text-align: left;
    margin: 0.5em;
    color: var(--dominant-dark);
    @include selection-whitedark;
  }

  &-empty {
    display: flex;
    width: 100%;
    justify-content: left;
    padding: 0.5em;
    color: var(--dominant-dark);
    @include selection-whitedark;

    a {
      color: $blue_light;
      text-decoration: none;
      border-bottom: none;
      transition: color 0.3s;
      @include selection-blue;
  
      &:hover {
        color: $blue_dark;
      }
    }
  }

  &-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
    font-size: 0.8em;
    background-color: var(--dominant-light);
    box-shadow: 0 4px 6px var(--table_shadow);

    th, td {
      padding: 15px;
      text-align: center;
      border-bottom: 1px solid var(--table_border);

      &, p {
        text-align: left;
        @include selection-whitedark;
      }

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 500px;
        vertical-align: middle;
      }
    }

    th {
      background-color: var(--table_td);
      color: var(--table_th-color);
      font-weight: normal;
      text-transform: uppercase;
    }

    tr {
      color: var(--dominant-dark);
      @include selection-whitedark;

      &:hover {
        background-color: var(--table_td);
      }
    }

    .cart-item-image {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 5px;
      margin-right: 10px;
      @include selection-whitedark;
    }

    input {
      background-color: var(--table_td);
      color: var(--dominant-dark);
      width: 50px;
      padding: 5px;
      text-align: center;
      border: 1px solid var(--table_th-color);
      border-radius: 5px;
      @include selection-whitedark;
    }

    .remove-button {
      background-color: $red_brighter;
      color: #fff;
      border: none;
      padding: 0.5em 0.75em;
      font-size: 0.9em;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      @include selection-whitedark;

      &:hover {
        background-color: $red_light;
      }
    }
  }

  &-summary {
    background-color: var(--dominant-light);
    padding: 1em;
    border-radius: 5px;
    text-align: left;

    h2, p {
      color: var(--dominant-dark);
      @include selection-whitedark;
    }

    p {
      margin-bottom: 1em;
    }

    .checkout-button {
      background-color: $green_brighter;
      color: $white;
      border: none;
      padding: 0.625em 1.25em;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      @include selection-whitedark;

      &:hover {
        background-color: $green_hover;
      }
    }
  }
}

.cart-mobile {
  display: none;
  padding: 2em;

  h1 {
    color: var(--dominant-dark);
    margin-bottom: 1em;
    @include selection-whitedark;
  }

  .cart-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1em;

    .cart-card {
      display: flex;
      flex-direction: row;
      padding: 1em;
      background-color: var(--dominant-light);
      border: 1px solid var(--table_border);
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .cart-item-image {
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    @include selection-whitedark;
  }

  .cart-card-details {
    display: flex;
    padding-left: 1em;
    flex-direction: column;
    flex: 1;
    gap: 0.2em;

    p.product-name {
      margin-bottom: 1em;
    }

    .product-name, span {
      font-weight: 500;
      @include selection-whitedark;
    }

    p,
    .product-quantity {
      font-size: 1rem;
      color: var(--dominant-dark);
      margin: 0;
      @include selection-whitedark;
    }

    .product-quantity {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      input {
        background-color: var(--table_td);
        color: var(--dominant-dark);
        width: 50px;
        padding: 5px;
        text-align: center;
        border: 1px solid var(--table_th-color);
        border-radius: 5px;
        @include selection-whitedark;
      }
    }

    .remove-button {
      align-self: flex-end;
      margin-top: auto;
      right: 0;
      background-color: $red_brighter;
      color: #fff;
      border: none;
      padding: 0.5em 1em;
      font-size: 0.9rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      @include selection-whitedark;

      &:hover {
        background-color: $red_light;
      }
    }
  }
}

@media only screen and (max-width: #{map-get($breakpoints, 'tablet')}) {
  .cart {
    display: none;
  }

  .cart-mobile {
    display: block;
  }

  .cart-item-image {
    max-width: 100%;
    height: auto;
  }

  .cart-card {
    flex-direction: column;
  }
}

@media only screen and (max-width: #{map-get($breakpoints, 'phablet')}) {
  .cart-mobile {
    padding: 1em;
  
    .cart-cards {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 1em;
  
      .cart-card {
        display: block;
        padding: 1em;
      }
    }
  
    .cart-item-image {
      width: 100%;
      max-width: 300px;
      height: auto;
      object-fit: cover;
    }

    .cart-item-image {
      width: 100%;
      max-width: 200px;
      height: auto;
      object-fit: cover;
    }
  
    .cart-card-details {
      padding-left: 0;
      gap: 0;
  
      p.product-name {
        margin-top: 1em;
      }
  
      .remove-button {
        align-self: flex-end;
        margin-top: 1em;
        right: 0;
        background-color: $red_brighter;
        color: #fff;
        border: none;
        padding: 0.5em 1em;
        font-size: 0.9rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        @include selection-whitedark;
  
        &:hover {
          background-color: $red_light;
        }
      }
    }
  }
}

@media only screen and (max-width: #{map-get($breakpoints, 'phone-wide')}) {
  .cart-empty {
    display: flex;
    flex-wrap: wrap;
  }
}

