@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

header.header-admin {
    background-color: var(--color-red);
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    a {
        color: $white;
        text-decoration: none;
        list-style-type: none;
        border: none;
        @include selection-light;
    }
    
    h3 {
        color: $white;
        @include selection-light;
    }

    .nav-icons {
        display: flex;
        gap: 1em;
    }
}