@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.section__welcome {
    display: flex;
    position: relative;
    align-items: center;
    padding: 3em;
    height: 81dvh;
    background: url('../../../public/images/welcome_baner.jpg') no-repeat center center;
    background-size: cover;
    animation: fade-up 0.5s;

    &-content {
        text-align: left;
        width: 40%;

        p {
            padding: 0.5em;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(7px);
            color: $black;
            border-radius: 4px;
            @include selection-cookie;
        }

        h2 {
            padding: 0.5em;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(7px);
            color: $black;
            border-radius: 4px;
            @include selection-cookie;
        }

        button {
            background-color: rgba(255, 255, 255, 0.2);
            color: $black;
            border: 2px solid rgba(255, 255, 255, 0.6);
            padding: 0.4em 1em;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 15px;
            position: relative;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            backdrop-filter: blur(10px);
            align-self: flex-start;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
        
            &:hover {
                background-color: rgba(255, 255, 255, 0.4);
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.section__offer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;  // Ustawiamy, by zawartość była wypozycjonowana po prawej stronie
    padding: 3em;
    height: 81dvh;
    background: url('../../../public/images/offer_baner.jpg') no-repeat center center;
    background-size: cover;
    animation: fade-up 0.5s;

    &-content {
        text-align: right;  // Ustawiamy wyrównanie tekstu do prawej strony
        width: 40%;  // Możesz dostosować szerokość, aby lepiej pasowało do zawartości

        p, h2 {
            padding: 0.5em;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(7px);
            color: $black;
            border-radius: 4px;
            @include selection-cookie;
        }

        h2 {
            margin-top: 1em;
        }

        button {
            background-color: rgba(255, 255, 255, 0.2);
            color: $black;
            border: 2px solid rgba(255, 255, 255, 0.6);
            padding: 0.4em 1em;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 15px;
            position: relative;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            backdrop-filter: blur(10px);
            align-self: flex-start;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
        
            &:hover {
                background-color: rgba(255, 255, 255, 0.4);
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.section__category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 2rem;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    &-card {
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.3); // Tło z ciemnym odcieniem

        // Ustawienie zdjęcia tła dla każdego div'a
        &:nth-child(1) .category-image {
            background-image: url('../../../public/images/category_jacket.jpg');
        }

        &:nth-child(2) .category-image {
            background-image: url('../../../public/images/category_pants.jpg');
        }

        &:nth-child(3) .category-image {
            background-image: url('../../../public/images/category_shirt.jpeg');
        }

        &:nth-child(4) .category-image {
            background-image: url('../../../public/images/category_hat.jpg');
        }

        .category-image {
            height: 200px;
            background-size: cover;
            background-position: center;
        }

        .category-content {
            padding: 1rem;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.7); // Przezroczyste tło
            color: $black;
            text-align: center;
            transition: background-color 0.3s ease;

            h3 {
                margin-bottom: 1rem;
                font-size: 1.5rem;
                color: #333;
                @include selection-whitedark;
            }

            p {
                font-size: 1rem;
                color: #666;
                margin-bottom: 1.5rem;
                @include selection-whitedark;
            }

            .btn {
                padding: 0.6em 1.2em;
                background-color: rgba(255, 255, 255, 0.8);
                color: #333;
                border-radius: 25px;
                text-decoration: none;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #ff5733;
                    color: #fff;
                }
            }
        }

        &:hover .category-content {
            background-color: rgba(255, 255, 255, 0.9); // Zmiana koloru tła przy hover
        }
    }
}

@media only screen and (max-width: #{map-get($breakpoints, 'desktop-wide')}) {
    .section__welcome {
        &-content {
            text-align: left;
            width: 50%;
        }
    }    
}

@media only screen and (max-width: #{map-get($breakpoints, 'tablet')}) {
    .section__welcome {
        height: 73svh;
        padding: 1em;

        &-content {
            text-align: left;
            width: 70%;

            p {
                font-size: 0.9em;
            }
    
            h2 {
                font-size: 1.3em;
            }
        }
    }    
}

@media only screen and (max-width: #{map-get($breakpoints, 'phone-wide')}) {
    .section__welcome {
        height: 86svh;
        display: flex;
        padding: 1em;

        &-content {
            text-align: left;
            width: 90%;
        }
    }    
}