@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.categoryProduct {
    display: flex;
    flex-direction: column;
    margin: 1em;

    .error-products {
        text-align: center;
        color: var(--grey_dark);
        @include selection-whitedark;
    }

    h1 {
        color: var(--dominant-dark);
        padding: 1.1em;
        @include selection-whitedark;
    }

    .category-item {
        display: grid;
        grid-template-areas:
        'one two three four';
        justify-content: center;
        gap: 1.1em;

        .item:nth-child(1) { grid-area: one; }
        .item:nth-child(2) { grid-area: two; }
        .item:nth-child(3) { grid-area: three; }
        .item:nth-child(4) { grid-area: four; }

        .item {
            img {
                @include selection-whitedark;
                border-radius: 10px;
                max-width: 800px;
                height: auto;
                object-fit: cover;
                width: 100%;
            }

            p {
                margin: 6px 0;
                color: var(--grey_dark);
                @include selection-whitedark;
            }

            &-prices {
                display: flex;
                gap: 20px;

                &-new {
                    color: var(--grey_dark);
                    font-size: 1em;
                    font-weight: 400;
                    @include selection-whitedark;
                }

                &-old {
                    color: var(--red_light);
                    font-size: 1em;
                    font-weight: 500;
                    text-decoration: line-through;
                    @include selection-whitedark;
                }
            }
        }
    }
}

@media only screen and (max-width: #{map-get($breakpoints, 'desktop-Lwide')}) {
    .categoryProduct {
        .category-item {
            grid-template-areas:
            'one two'
            'three four';
            gap: 3em;
        }    
    }
}

@media only screen and (max-width: #{map-get($breakpoints, 'tablet-wide')}) {
    .categoryProduct {
        h1 {
            padding: 1em 0em;
            text-align: center;
        }

        .category-item {
            grid-template-areas:
            'one' 
            'two'
            'three'
            'four';
            gap: 3em;

            .item {
                img {
                    width: 100%;
                    max-width: 350px;
                    padding: 1em;
                }
            }
        }    
    }
}