@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.ad {
    background-color: var(--color-ad);
    width: 100%;
    padding: 0.5rem 4rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;

    a {
        color: $white;
        text-decoration: none;
        list-style-type: none;
        border: none;
        @include selection-blue;
    }
}

@media only screen and (max-width: #{map-get($breakpoints, 'tablet-wide')}) {
    .ad {
        padding: 0.5rem 1rem; 
    }
}