@use './variables' as *;

@mixin flex-center($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@mixin transition {
  transition: all .2s;
}

@mixin selection-light {
  &::selection {
    color: $red_light;
    background-color: $white;
  }
}

@mixin selection-dark {
  &::selection {
    color: $red_light;
    background-color: $black;
  }
}
